* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
}

html, body{
	margin: 0;
	padding: 0;
}

body {
    font-size: 100%;
    line-height: 1.5em;
    font-family: helvetica, arial, sans-serif;
    color: #000;
}

#game {
    width: 480px;
    height: 640px;
    background : url('../img/background.png');
    background-size: 100% 85%;
    position: relative;
    overflow: hidden;
}

#bird {
    background : url('../img/bird.png') no-repeat;
    background-size: cover;
    position: absolute;
}

#restart {
    background : url('../img/restart.png') no-repeat;
    background-size: cover;
    width: 107px;
    height: 37.5px;
    position: absolute;
    top: 250px;
    left: 186.5px;
    display: none;
}

.animated-wings {
    -webkit-animation: animBird 300ms steps(4) infinite;
   animation: animBird 300ms steps(4) infinite;
}

.pipe-top {
    background : url('../img/pipe_top.png') bottom;
    background-size: cover;
    position: absolute;
    top: 0;
}

.pipe-bottom {
    background : url('../img/pipe_bottom.png');
    background-size: cover;
    position: absolute;
    bottom: 15%;
}


#ground {
    background : url('../img/ground.png');
    background-position: top left;
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


@-webkit-keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -96px; }
}
@-moz-keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -96px; }
}
@-o-keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -96px; }
}
@keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -96px; }
}
