@font-face {
  font-family: "Flappy";
  src: url('fonts/flappyfont.ttf');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
}

html, body{
	margin: 0;
	padding: 0;
}

body {
    font-size: 100%;
    line-height: 1.5em;
    font-family: helvetica, arial, sans-serif;
    color: #000;
    background: #70C5CD;
}

#logo {
    display: block;
    margin: 30px auto;
    text-align: center;
}

#game {
    width: 480px;
    height: 640px;
    background : url('../img/background.png');
    background-size: 100% 85%;
    position: relative;
    overflow: hidden;
    margin: auto;
    border: 5px solid #fff;
}

#bird {
    background : url('../img/bird.png') no-repeat;
    background-size: cover;
    position: absolute;

    z-index: 900;
}

#score{
    position: absolute;
    top: 125px;
    width: 480px;

    font-family: Flappy;
    text-shadow: 2px 2px 0px rgba(0,0,0,1);
    font-size: 50px;
    text-align: center;

    color: white;

    z-index: 1100;
}

#pressSpace{
    position: absolute;
    top: 175px;
    width: 480px;

    font-family: Flappy;
    text-shadow: 2px 2px 0px rgba(0,0,0,1);
    font-size: 30px;
    text-align: center;

    color: white;

    z-index: 1100;
}

#bestscore{
    position: absolute;
    top: 210px;
    width: 480px;

    font-family: Flappy;
    text-shadow: 2px 2px 0px rgba(0,0,0,1);
    font-size: 50px;
    text-align: center;

    color: white;

    z-index: 1100;
    display: none;
}

#loose{
    width: 172px;
    height: 228px;

    position: absolute;

    top: 50px;
    left: calc(240px - 86px);

    display: none;
    z-index: 1000;
}
#restart {
    background : url('../img/restart.png') no-repeat;
    background-size: cover;
    width: 107px;
    height: 37.5px;
    position: absolute;
    top: 250px;
    left: 32.5px;
}

.animated-wings {
    -webkit-animation: animBird 300ms steps(4) infinite;
   animation: animBird 300ms steps(4) infinite;
}

.pipe-top {
    background : url('../img/pipe_top.png') bottom;
    background-size: cover;
    position: absolute;
    top: 0;
}

.pipe-bottom {
    background : url('../img/pipe_bottom.png');
    background-size: cover;
    position: absolute;
    bottom: 15%;
}


#ground {
    background : url('../img/ground.png');
    background-position: top left;
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


@-webkit-keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -144px; }
}
@-moz-keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -144px; }
}
@-o-keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -144px; }
}
@keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -144px; }
}
